<div class='container center-align'>
<% eventData.forEach(function (event) { %>
	<div class='card gray'>
		<div class='card-content'>
			<ul class='flow-text'>
				<span class='card-title flow-text'><li> <a href='<%= event.eventUrl %>'> <%= event.eventName %> </a> </li></span>
				<li>Time: <%= event.eventTime %> </li>
				<li>Venue: <%= event.eventVenue %> </li>
				<li>City: <%= event.eventLocation  %> </li>
			</ul>

			<div class='card-action'>
				<form action="/rsvp/<%=event.eventId%>" method='POST'>
					<input type='hidden' class='form-control' id='' name='name' value='<%=event.eventName%>'>
					<input type="hidden" class="form-control" id="" name='date' value='<%= event.eventDate%>'>
					<input type="hidden" class="form-control" id="" name='venue' value='<%= event.eventVenue %>'>
					<input type='hidden' class='form-control' id='' name='location' value='<%= event.eventLocation %>'>
					<input type='hidden' class='form-control' id='' name='api_id' value='<%= event.eventId %>'>
					<input class='btn btn-success' type='submit' value='Got plans!'>		
				</form>
			</div>
		</div>
	</div>
<% }); %>
</div>