<div class='container center-align'>
	<ul>
		<li> <%= event.name %> </li>
		<li> <%= event.date %></li>
		<li> <%= event.location %> </li>
	</ul>

	<h5>So glad you are coming!</h5>
	<h5> Make a connection: </h5>
	<% user.forEach(function(user) { %>
		<ul>
		<%= user.name %>
		<%= user.email %>
			<ul>
				<% user.hobbies.forEach(function(hobby) { %>
					<li><%= hobby.hobby %> </li>
				<%	}) %>
			</ul>
		</ul>	
	<%	}) %>
</div>