<div class='row #e0f7fa cyan lighten-5 flow-text'>
	<div class='col s12 m4 l2'>
		<h3><%= user.name %> </h3>
		<p> <%= user.email %> <p>
	</div>

	<div class='col s12 m4 l8 flow-text'>
		<h4>Upcoming Events </h4>
		<% events.forEach(function(event){ %>
		<li><a href='/event/<%= event.api_id %>'> <%= event.name %> </a> </li>
		<li> <%= event.venue%> </li>
		<li> <%= event.location %> </li>
		<li> <%= event.date %> </li>
		<% }) %>
	</div>

	<div class='col s12 m4 l2 flow-text'>
		<h4> Hobbies </h4>
			<% hobbies.forEach(function(hobby){ %>
			<ul>
			<div class='chip'><li><%= hobby.hobby %></li></div>
			<%	}) %>
			</ul>
			<form action='/profile/hobby' method='POST'>
				<input type='text' placeholder='write hobby here' name='hobby'/>
				<input type='submit' value='submit hobby'>
			</form>
	</div>

</div>

