<% eventData.forEach(function (event) { %>
		<ul>
		<li> <a href=' '> <%= event.eventName %> </a> </li>
		<li> <a href=' '> <%= event.eventLocation  %> </a> </li>
		<li> <a href=' '> <%= event.eventDate  %> </a> </li>
		<li> <a href=' '> <%= event.eventTime %> </a> </li>
		<li> <a href=' '> <%= event.eventId %> </a> </li>

		</ul>

		<form action='/profile/rsvp/<%=event.eventId%>' method='POST'>
			<input type='submit' value='RSVP YES'>
		</form>

	<% }); %>