<% eventData.forEach(function (event) { %>
	<ul>
		<li> <a href='<%= event.eventUrl %>'> <%= event.eventName %> </a> </li>
		<li> <%= event.eventLocation  %> </li>
		<li> <%= event.eventDate  %> </li>
		<li> <%= event.eventTime %> </li>
		<li> <%= event.eventId %> </li>
		<li> <%= event.eventVenue %> </li>
	</ul>

	<form action="/rsvp/<%=event.eventId%>" method='POST'>
		<input type='hidden' class='form-control' id='' name='name' value='<%=event.eventName%>'>
		<input type="hidden" class="form-control" id="" name='date' value='<%= event.eventDate%>'>
		<input type="hidden" class="form-control" id="" name='venue' value='<%= event.eventVenue %>'>
		<input type='hidden' class='form-control' id='' name='location' value='<%= event.eventLocation %>'>
		<input type='hidden' class='form-control' id='' name='id' value='<%= event.eventId %>'>
		<input class='btn btn-success' type='submit' value='RSVP YES'>		
	</form>
<% }); %>